<!DOCTYPE html>
<html>
  <head>
    <title>Ractrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script>
      window.stripe_key = "<%= Rails.env.production? ? 'pk_test_what' : Rails.application.credentials[:stripe_public_key] %>";
    </script>

    <script id="stripe-js" src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
